.business {
  .yith-wcwl-form {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .yith-wcwl-share {
      display: none;
    }

    table.shop_table th {
      display: none;
    }
  }

  .yith-wcwl-add-to-wishlist {
    margin: 2rem 0;
  }
}

