@use 'node_modules/include-media/dist/_include-media.scss' as *;
@use './helpers.scss';

.woocommerce,
.woocommerce-js,
.woocommerce-page {
  fieldset {
    border: 0;
    margin: 2rem 0 0 0;
    padding: 0;
  }

  a.button,
  button.button,
  .track_order button.button,
  .add_to_cart_button,
  .wc-block-cart__submit a,
  .wc-block-components-button,
  div.product form.cart .button,
  #respond input#submit {
    @extend %button;
  }

  .content-area {
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;

  }

  .woocommerce-result-count {
    font-weight: bold;
    padding-top: 1rem;
    margin-top: 2rem;
    width: 100%;
    border-top: 1px solid var(--color-gray-300);
  }

  .orderby {
    clear: both;

    @include media('>tablet') {
      min-width: 248px;
      position: absolute;
      top: -1.25rem;
      right: 0;
    }
  }

  table.shop_table {
    border: 0;
  }

  .wc-block-checkout,
  .woocommerce-order,
  business-page-main > .woocommerce {
    max-width: var(--page-width);
    margin: 2rem auto;
  }

  business-page-main {
    > .woocommerce {
      display: flex;
      flex-direction: column;
    }

    .woocommerce-MyAccount-navigation {
      width: auto;
      float: none;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        list-style: none;
        margin: 0 0 2rem 0;
        padding: 0 0 1rem 0;
        border-bottom: 1px solid var(--color-gray-300);
      }
    }
  }

  .woocommerce-notice--success {
    color: var(--color-success);
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
  }

  .woocommerce-thankyou-order-details {
    margin: 0;
    padding: 0;
  }

  .wp-block-woocommerce-cart {
    max-width: var(--page-width);
    margin: 2rem auto;

    .is-large.wc-block-cart .wc-block-cart-items td {
      padding: 0;
    }

    .is-large.wc-block-cart .wc-block-cart-items td:first-child,
    .is-large.wc-block-cart .wc-block-cart-items td:last-child {
      padding: 1rem 0;
    }

    .is-large.wc-block-cart .wc-block-cart-items td.wc-block-cart-item__product {
      padding: 1rem;
    }

    .is-large .wc-block-components-sidebar .wc-block-components-totals-coupon,
    .is-large .wc-block-components-sidebar .wc-block-components-totals-item,
    .is-large.wc-block-cart .wc-block-components-sidebar .wc-block-components-shipping-calculator {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .woocommerce-customer-details {
    address {
      font-size: 1rem;
      border: 0;
      padding: 0;
    }
  }

  .with-empty-cart-icon {
    margin: 4rem 0;
  }

  .woocommerce-form-track-order {
    p {
      margin-bottom: 1rem;
    }
  }

  .select2-selection {
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .select2-selection__arrow {
    transform: translate(-1rem, 14px);
  }

  form .form-row-first,
  form .form-row-last,
  .woocommerce-MyAccount-content {
    width: auto;
    float: none;
  }

  .woocommerce-address-fields__field-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }

  .woocommerce-EditAccountForm {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  ul.products li.product .onsale {
    color: var(--color-white);
    font-size: 1rem;
    min-width: 0;
    min-height: 0;
    line-height: 1;
    padding: 0.25rem 0.75rem;
    text-transform: uppercase;
    border-radius: var(--kemet-border-radius-lg);
    background-color: var(--color-sale);
  }

  ul.products li.product a,
  ul.products li.product a:hover {
    border: none;
  }

  ul.products li.product .button,
  ul.products li.product .button:hover {
    display: block;
  }

  li.type-product {
    text-align: center;
  }

  .wc-block-components-notice-banner.is-success > svg {
    background: transparent;
  }

  .woocommerce-tabs {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-gray-300);
  }

  .woocommerce-breadcrumb {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-gray-300);
  }

  span.onsale {
    color: var(--color-white);
    line-height: 1;
    padding: 0.5rem;
    min-height: auto;
    min-width: auto;
    background: var(--color-sale);
    border-radius: var(--kemet-border-radius-lg);
  }

  div.product p.price,
  ul.products li.product .price {
    color: var(--color-success);
  }

  div.product form.cart .variations {
    text-align: left;
  }

  div.product form.cart div.quantity {
    margin: 0 2.25rem 0 0;
  }

  div.product form.cart select {
    @extend %select-arrow;

    font-size: 1rem;
    padding: 1rem;
  }

  div.product form.cart .variations td,
  div.product form.cart .variations th {
    vertical-align: middle;
    font-size: 1rem;
    text-transform: capitalize;
  }

  .comment-form,
  #review_form #respond {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    label {
      margin-right: 1rem;
    }
  }

  .woocommerce-MyAccount-content .addresses {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    @include media('>tablet') {
      display: block;
    }
  }

  .required {
    color: var(--color-danger);
  }

  .woocommerce-ordering {
    @include media('<tablet') {
      float: none;
      margin: 0 0 2rem;
      position: relative;
    }
  }
}
